<%- include('./partials/header') %>

<% if (!user) { %>
	<div class="vertical-spacer-70px"></div>
	<div id="landing-page-title-container">
		<h1>Snippetag</h1>
	</div>
	<div class="vertical-spacer-70px"></div>
	<h3 id="landing-page-tagline">Snippetag empowers you to save, organize, and flexibly retrieve text using tags.</h3>
	<div class="vertical-spacer-70px"></div>
	<form id="landing-page-login-form">
		<img id="google-logo" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png">
		<input id="sign-in-with-google" type="submit" value="Sign in with Google">
	</form>
<% } else { %>
	<h3>You're already logged in. Use the bar above to navigate the app.</h3>
<% } %>

<%- include('./partials/footer') %>
