<%- include('./partials/header') %>

	<% if (user.avatar) { %>
		<img src="<%= user.avatar %>" alt="<%= user.name %>'s avatar" />
	<% } %>
	<form id="user-upload-snippets-button" action="/snippets/new" method="GET">
		<input type="submit" value="Upload Snippet">
	</form>
	
	<form id="user-search-snippets-by-tag-button" action="/tags/search" method="GET">
		<input type="submit" value="Search Snippets by Tag">
	</form>
	
	<form id="user-edit-snippet-tags" action="/snippets/edit" method="GET">
		<input type="submit" value="Edit Snippet Tags">
	</form>

	<!--  -->

<%- include('./partials/footer') %>