* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #82dbe7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#snippet-new-form {
  display: flex;
  flex-direction: column;
}

#new-snippet-text-box {
  width: 80vw;
  height: 50vw;
}

#user-snippets-table {
  width: 90vw;
}

#user-snippets-table td {
  border: 1px solid rgb(197, 197, 197);
}

#snippet-current-tag {
  background: rgb(124, 124, 124);
  color: white;
  text-align: center;
  font-weight: 300;
  border-radius: 6px;
  padding: 2px;
  margin: 4px 4px;
}

#snippet-delete-table-cell {
  text-align: right; 
  vertical-align: middle; 
}