/* SNIPPETAG STYLESHEET */


/* COLOR SCHEME */

:root {
  --violet: #7478DB;
  --teal: #74B9DB;
  --eggshell: #DBBB74;
  --oak: #665F4F;
  --acai: #47475C;
  --darkGrey: #353535;
  --lightGrey: #fafafa;
}


/* OVERARCHING ELEMENTS (BODY, NAV) */

* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: var(--darkGrey);
  font-family: 'Mulish';
  /* border: 1px solid grey; */
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: var(--eggshell);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightGrey);
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: var(--lightGrey);
  background-color: var(--darkGrey);
}

nav > a.active {
  color: var(--lightGrey);
  cursor: default;
}

.vertical-spacer-70px {
  height: 70px;
}


/* LANDING PAGE */

#landing-page-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--teal);
  width: 90vw;
  border-radius: 5px;
  
}

#landing-page-title-container > h1 {
  font-size: 3em;
  color: var(--darkGrey);
  margin: 0.75em 1em;
}

#landing-page-tagline {
  text-align: center;
}

#landing-page-login-form {
  display: flex;
  align-items: center;
  height: 60px;
  background: var(--teal);
}

#google-logo {
  height: 50px;
}

#sign-in-with-google {
  background: rgba(0, 0, 0, 0);
  font-size: 1em;
  font-weight: 600;
}

/* USER HOMEPAGE */

#user-homepage-container {
  display: grid;
  width: 90vw;
  justify-content: center;
}

.user-homepage-navigation-button {  
  width: 70vw;
  height: 6vh;
  margin: 1.5vh;
  border: 0px solid black;
  border-radius: 6px;
  font-size: 1.4em;
  color: #e9e7e7;
  background: rgb(0, 102, 128);
}

.user-homepage-navigation-button:hover {
  background:rgb(71, 71, 71);
}


/* UPLOAD PAGE */

#snippet-new-form {
  display: flex;
  flex-direction: column;
}

#new-snippet-text-box {
  width: 80vw;
  height: 50vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}


/* EDIT PAGE */

#user-snippets-table, #search-snippets-table {
  width: 90vw;
}

#user-snippets-table td, #search-snippets-table td {
  border: 1px solid rgb(197, 197, 197);
}

#snippet-current-tag {
  display: flex;
  flex-direction: row;
  background: rgb(124, 124, 124);
  color: white;
  justify-content: space-between;
  text-align: center;
  font-weight: 300;
  border-radius: 6px;
  padding: 4px;
  margin: 4px 4px;
}

#snippet-delete-table-cell {
  text-align: right; 
  vertical-align: middle; 
}