* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
  /* border: 1px solid grey; */
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #82dbe7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#user-homepage-container {
  display: grid;
  width: 90vw;
  justify-content: center;
}

#request-delete-user-form {
  display: flex;
  justify-content: right;
}

#delete-user-warning-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-homepage-navigation-button {  
  width: 70vw;
  height: 6vh;
  margin: 1.5vh;
  border: 0px solid black;
  border-radius: 6px;
  font-size: 1.4em;
  color: #e9e7e7;
  background: rgb(0, 102, 128);
}

.user-homepage-navigation-button:hover {
  background:rgb(71, 71, 71);
}

#snippet-new-form {
  display: flex;
  flex-direction: column;
}

#new-snippet-text-box {
  width: 80vw;
  height: 50vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}

#user-snippets-table, #search-snippets-table {
  width: 90vw;
}

#user-snippets-table td, #search-snippets-table td {
  border: 1px solid rgb(197, 197, 197);
}

#snippet-current-tag {
  display: flex;
  flex-direction: row;
  background: rgb(124, 124, 124);
  color: white;
  justify-content: space-between;
  text-align: center;
  font-weight: 300;
  border-radius: 6px;
  padding: 4px;
  margin: 4px 4px;
}

#snippet-delete-table-cell {
  text-align: right; 
  vertical-align: middle; 
}